---
// src/pages/index.astro (Fokus pada Hero & Case Study)

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import CaseStudy from '../components/CaseStudy.astro';
---

<Layout 
    title="Portfolio Akhdan"
    description="A showcase of selected works."
>
    <Header />

    <main>
        <Hero />
        <CaseStudy />
    </main>
    
</Layout>