---
import BounceCards from './BounceCards.jsx';

const images = [
    "/photography2.jpeg",
    "/the_beach.jpeg",
    "/jakarta.jpeg",
    "/personal_photo.jpeg"
];

const transformStyles = [
    "rotate(6deg) translate(-180px)", 
    "rotate(-1deg) translate(-60px)",                 
    "rotate(5deg) translate(60px)",
    "rotate(-4deg) translate(180px)"

];
---
<section id="about" class="py-20 md:py-32 px-4 text-gray-800">
    <div class="max-w-screen-xl mx-auto flex flex-col items-center gap-16">

        <BounceCards
            client:visible
            images={images}
            transformStyles={transformStyles}
            containerWidth={500}
            containerHeight={250}
            animationDelay={0.5}
            animationStagger={0.1}
            easeType="elastic.out(1, 0.5)"

            cardWidth={220}
            cardHeight={280}
        />

        <div class="max-w-2xl w-full grid grid-cols-[auto,1fr] gap-x-8">
            <p class="text-gray-500">About me</p>
            <div class="text-gray-700 font-medium text-xl leading-relaxed space-y-6">
                <p>
                    I'm Akhdan, a designer who loves making digital interactions feel alive.
                </p>
                <p>
                    After a year of independent exploration on personal projects, I am eager to apply my skills and gain experience in a collaborative environment.                
                </p>
                <p>
                    I enjoy complex challenges and am ready to make a real contribution. Let's connect if you have an exciting project.
                </p>
            </div>
        </div>

    </div>
</section>