---
---
<footer class="p-4 md:p-8">
    <div class="max-w-screen-xl mx-auto bg-white/70 backdrop-blur-lg rounded-3xl p-4 px-6 flex justify-between items-center shadow-sm border border-gray-200/80">
        
        <a href="mailto:hello@akhdan.space" class="flex items-center gap-3 group">
            <span class="text-gray-800 group-hover:text-black font-medium transition-colors hidden md:inline">
                Made with ❤️ by Naufal Akhdan
            </span>
        </a>

        <div class="flex items-center gap-3">
            <div class="relative group flex flex-col items-center">
                <a href="https://www.instagram.com/akhdnnn_/" class="block transition-transform duration-200 ease-out group-hover:-translate-y-4.5 -rotate-[4deg] group-hover:-rotate-20">
                    <img src="/instagram.png" alt="Instagram Icon" class="w-16 h-auto">
                </a>
                 <span class="absolute -bottom-1 text-xs font-bold text-gray-500 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    Instagram
                </span>
            </div>
            
            <div class="relative group flex flex-col items-center">
                <a href="https://www.linkedin.com/in/naufal-akhdan-899918289/" class="block transition-transform duration-200 ease-out group-hover:-translate-y-4.5 rotate-[4deg] group-hover:rotate-20">
                    <img src="/linkedin.png" alt="LinkedIn Icon" class="w-16 h-auto">
                </a>
                 <span class="absolute -bottom-1 text-xs font-bold text-gray-500 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    LinkedIn
                </span>
            </div>

            <div class="relative group flex flex-col items-center">
                <a href="https://github.com/akhdnn" class="block transition-transform duration-200 ease-out group-hover:-translate-y-4.5 rotate-[2deg] group-hover:rotate-20">
                    <img src="/github.png" alt="Github Icon" class="w-16 h-auto">
                </a>
                <span class="absolute -bottom-1 text-xs font-bold text-gray-500 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    GitHub
                </span>
            </div>
        </div>
    </div>
</footer>