---
// src/components/Header.astro
export interface Link {
    href: string;
    label: string;
    navlink: string;
}

export interface Props {
	links: Link[];
}

const { links } = Astro.props;
---
<header class="fixed top-4 left-1/2 -translate-x-1/2 z-50 w-full px-4">
    <nav class="w-full max-w-fit mx-auto flex items-center justify-center gap-2 bg-white/70 backdrop-blur-lg rounded-full shadow-sm border border-white/50 px-2 py-2 text-lg font-medium">
        {links.map((link, index) => (
            <a
                href={link.href}
                data-navlink={link.navlink}
                class:list={[
                    "nav-link",
                    "rounded-full",
                    "px-3",
                    "py-1",
                    "text-sm",
                    "md:text-base",
                    "transition-colors",
                    "duration-300",
                    { "text-gray-900 bg-gray-200/50": index === 0, "text-gray-500 hover:text-gray-900": index !== 0 }
                ]}
            >
                {link.label}
            </a>
        ))}
    </nav>
</header>