---
import HeroAnimation from './HeroAnimation.jsx';

const stickers = [
    { src: "/[branding]_sticker.png", style: { top: '50%', left: '5%', transform: 'rotate(10deg)  scale(1.8)' } },
    { src: "/[animation]_sticker.png", style: { top: '30%', left: '50%', transform: 'rotate(15deg)  scale(1.8)' } },
    { src: "/[website]_sticker.png", style: { top: '50%', left: '60%', transform: 'rotate(-15deg)  scale(1.8)' } },
    { src: "/[mobile]_sticker.png", style: { top: '20%', left: '15%', transform: 'rotate(5deg) scale(1.8)' } }

];
---

<section id="home" class="flex items-center justify-center text-left px-4 py-24 lg:py-40 min-h-[100vh]">
    <div class="max-w-6xl flex flex-col gap-6">
        <p class="text-left text-lg text-gray-800">👋 Yo, I'm Akhdan</p>
        
        <HeroAnimation stickers={stickers} client:visible />
    </div>
</section>