---
// src/components/Hero.astro
---
<section id="home" class="flex items-center justify-center text-left px-4 py-32 lg:py-40 min-h-[80vh]">
    <div class="max-w-6xl flex flex-col gap-6">

        <p class="text-left text-lg text-gray-800">👋 Yo, I'm Akhdan</p>

        <h1 class="text-4xl md:text-6xl font-bold tracking-normal text-gray-900 leading-tight">
            I'm helping digital founders create unique, empathic product 
            <span class="relative inline-block whitespace-nowrap">experiences.
                <!-- <span class="sticker sticker-branding">✨ branding</span>
                <span class="sticker sticker-animation">animation</span> -->
            </span>
        </h1>

    </div>
</section>