---
// src/components/Hero.astro
---
<section class="text-center py-20 md:py-32">
    <div class="max-w-4xl mx-auto px-4">
        <!-- <div class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-medium mb-8">
            Naufal Akhdan
        </div> -->
        <p class="text-3xl md:text-2xl leading-relaxed text-gray-700">
            Hi, I'm Akhdan. I <strong class="text-gray-900">design</strong> and <strong class="text-gray-900">build</strong> things that make people's lives a little <strong class="text-gray-900">better</strong> .
        </p>
    </div>
</section>