---
import '../styles/global.css';
import GradualBlur from '../components/GradualBlur.jsx';


// Mendefinisikan properti yang bisa diterima oleh layout ini
export interface Props {
	title: string;
	description: string;
}

// Mengambil nilai props yang dikirim dari halaman (misal: index.astro)
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.ICO" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<GradualBlur
			target="page"
			position="top"
			height="5rem"
			strength={1.5}
			divCount={8}
			client:idle
			zIndex={-60}
		/>
		<div class="fixed top-0 left-0 w-full h-20 bg-gradient-to-b from-white to-transparent z-40 pointer-events-none"></div>
		<slot />

		<div id="cursor-tooltip" class="fixed top-0 left-0 pointer-events-none z-50 opacity-0 transition-opacity duration-200">
            <div class="bg-black text-white text-xs rounded-md shadow-lg px-3 py-1.5">
                <p id="tooltip-title" class="font-bold"></p>
                <p id="tooltip-tagline" class="text-white/70"></p>
            </div>
        </div>

		<script src="../scripts/main.js"></script>
	</body>
</html>